<!doctype html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Matrix Traversal</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <section class="matrix ng-cloak" data-ng-controller="ctrl" data-ng-class="isAnimating && 'disabled'">
        <table class="matrix-table bordered">
            <caption data-ng-switch="currentLength">
                <span data-ng-switch-when="0">Click on a cell to view its neighbors.</span>
                <span data-ng-switch-default>The current length is {{ currentLength }}.</span>
            </caption>

            <tr data-ng-repeat="row in matrix">
                <td data-ng-repeat="cell in row" data-ng-class="cell.visited && 'visited'">
                    <span data-ng-click="traverse($parent.$index, $index)">
                        {{ cell.value }}
                    </span>
                </td>
            </tr>
        </table>

        <form class="matrix-controls" title="To see the difference, click on the number 3 on the last row.">
            <label>
                <input type="radio" name="type" data-ng-model="type"
                  data-ng-disabled="isAnimating" value="DFS" />

                <abbr title="Depth-first Search">DFS</abbr>
            </label>

            <label>
                <input type="radio" name="type" data-ng-model="type"
                  data-ng-disabled="isAnimating" value="BFS" />

                <abbr title="Breadth-first Search">BFS</abbr>
            </label>
        </form>
    </section>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="scripts/script.js"></script>

    <script src="../scripts/fork.js"></script>
</body>
</html>
